{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- stella-orre/  30 Nov 2019 03:42:43 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Laundry</title>
    <!-- Stylesheets -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/responsive.css" rel="stylesheet" />

    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"></div>

      <header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
          <div class="auto-container clearfix">
            <div class="top-left clearfix">
              <div class="text">
                <span class="icon flaticon-call-answer"></span> Need help? Call
                Us Now :
                <a href="tel:1800-456-7890" class="number">1800 456 7890</a>
              </div>
            </div>
            <div class="top-right clearfix">
              <!-- Info List -->
              <ul class="info-list">
                <!-- <li><a href="about.html">Our Story</a></li>
                <li><a href="blog.html">Inspiration</a></li> -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login'%}">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
          <div class="inner-container">
            <div class="auto-container clearfix">
              <!--Info-->
              <div class="logo-outer">
                <div class="logo">
                  <a href="index.html"
                    ><img
                      class="foot-logo"
                      src="/static/images/icons/Laundrylogo.png"
                      alt=""
                      title=""
                      height="1000"
                      width="90"
                  /></a>
                </div>
              </div>

              <!--Nav Box-->
              <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler For Mobile-->
                <div class="mobile-nav-toggler">
                  <span class="icon flaticon-menu-1"></span>
                </div>
                <nav class="main-menu navbar-expand-md navbar-light">
                  <div class="navbar-header">
                    <!-- Togg le Button -->
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="icon flaticon-menu-1"></span>
                    </button>
                  </div>

                  <div
                    class="collapse navbar-collapse clearfix"
                    id="navbarSupportedContent"
                  >
                    <ul class="navigation clearfix">
                      <li class="current dropdown">
                        <a href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="dropdown">
                        <a href="{% url 'about' %}">About us</a>
                      </li>

                      <li><a href="{% url 'contact' %}">Contact</a></li>
                      <li><a href="/signup">Signup</a></li>
                    </ul>
                  </div>
                </nav>
                <!-- Main Menu End-->

                <!-- Outer Box -->
                <div class="outer-box clearfix">
                  <div class="search-box-btn">
                    <span class="icon flaticon-magnifying-glass-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Header Upper-->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
          <div class="menu-backdrop"></div>
          <div class="close-btn">
            <span class="icon flaticon-cancel"></span>
          </div>

          <nav class="menu-box">
            <div class="nav-logo">
              <a href="index.html"
                ><img src="/static/images/logo.png" alt="" title=""
              /></a>
            </div>
            <ul class="navigation clearfix">
              <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
            <!--Social Links-->
            <div class="social-links">
              <ul class="clearfix">
                <li>
                  <a href="#"><span class="fab fa-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="fab fa-facebook-square"></span></a>
                </li>
                <li>
                  <a href="#"><span class="fab fa-pinterest-p"></span></a>
                </li>
                <li>
                  <a href="#"><span class="fab fa-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="fab fa-youtube"></span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- End Mobile Menu -->
      </header>
      <!-- End Main Header -->

      <!--Page Title-->
      <section
        class="page-title"
        style="background-image: url(/static/images/main-slider/slider-3.jpg)"
      >
        <div class="auto-container">
          <h2>Contact Us</h2>
          <ul class="page-breadcrumb">
            <li><a href="index-2.html">home</a></li>
            <li>Contact Us</li>
          </ul>
        </div>
      </section>
      <!--End Page Title-->

      <!-- Contact Form Section -->
      <section
        class="contact-form-section"
        style="background-image: url(/static/images/background/contact.png)"
      >
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title">
            <h2>Get In Touch</h2>
            <div class="text">
              Do you have anything in your mind to let us know? Kindly don't
              delay to connect to us by means of our contact form.
            </div>
          </div>

          <div class="row clearfix">
            <!-- Form Column -->
            <div class="form-column col-lg-7 col-md-12 col-sm-12">
              <div class="inner-column">
                <!-- Contact Form -->
                <div class="contact-form">
                  <!--Contact Form-->
                  <form
                    method="post"
                    action="http://t.commonsupport.com/stella-orre/sendemail.php"
                    id="contact-form"
                  >
                    <div class="row clearfix">
                      <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input
                          type="text"
                          name="username"
                          placeholder="Your name"
                          required
                        />
                      </div>

                      <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input
                          type="text"
                          name="email"
                          placeholder="Email address"
                          required
                        />
                      </div>

                      <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <input
                          type="text"
                          name="subject"
                          placeholder="Subject"
                          required
                        />
                      </div>

                      <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <textarea
                          name="message"
                          placeholder="Message"
                        ></textarea>
                      </div>

                      <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <button
                          class="theme-btn btn-style-one"
                          type="submit"
                          name="submit-form"
                        >
                          <span class="txt">Submit now</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-5 col-md-12 col-sm-12">
              <div class="inner-column">
                <!-- Contact Info List -->
                <ul class="contact-info-list">
                  <li><strong>Address :</strong><br />Bhubaneswar,Odisha</li>
                </ul>
                <!-- Contact Info List -->
                <ul class="contact-info-list">
                  <li>
                    <strong>Phone : </strong
                    ><a href="tel:1800-456-7890">1800 456 7890</a>
                  </li>
                  <li>
                    <strong>Email : </strong
                    ><a href="mailto:info@Laundry.com">info@Laundry.com</a>
                  </li>
                </ul>
                <!-- Contact Info List -->
                <ul class="contact-info-list">
                  <li>
                    <strong>Opening Hours :</strong><br />8:00 AM – 10:00 PM
                    <br />
                    Monday – Sunday
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Form Section -->

      <!-- Map Section -->
      <section class="map-section">
        <div class="outer-container">
          <div class="map-outer">
            <div
              class="map-canvas"
              data-zoom="12"
              data-lat="-37.817085"
              data-lng="144.955631"
              data-type="roadmap"
              data-hue="#ffc400"
              data-title="Melbourne Australia"
              data-icon-path="/static/images/icons/map-marker.png"
              data-content="(1800) 456 7890 <br> Mon-Sat: 7.00an - 9.00pm"
            ></div>
          </div>
        </div>
      </section>
      <!-- End Map Section -->

      <!--Main Footer-->
      <footer class="main-footer">
        <div class="auto-container">
          <!--Widgets Section-->
          <div class="widgets-section">
            <div class="row clearfix">
              <!--big column-->
              <div class="big-column col-lg-6 col-md-12 col-sm-12">
                <div class="row clearfix">
                  <!--Footer Column-->
                  <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                      <div class="logo">
                        <a href="index-2.html"
                          ><img
                            class="foot-logo"
                            src="/static/images/icons/Laundrylogo.png"
                            alt=""
                            height="600"
                            width="300"
                        /></a>
                      </div>

                      <ul class="social-icons">
                        <li>
                          <a href="#"
                            ><span class="fab fa-facebook-f"></span
                          ></a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="fab fa-linkedin-in"></span
                          ></a>
                        </li>
                        <li>
                          <a href="#"><span class="fab fa-twitter"></span></a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="fab fa-google-plus-g"></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Footer Column-->
                  <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                      <h2>Quick links</h2>
                      <div class="widget-content">
                        <ul class="list">
                          <li><a href="#">About Gaille</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Terms & Conditionis</a></li>
                          <li><a href="#">Faq</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--big column-->
              <div class="big-column col-lg-6 col-md-12 col-sm-12">
                <div class="row clearfix">
                  <!--Footer Column-->
                  <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                    <div class="footer-widget contact-widget">
                      <h2>Contact Info</h2>
                      <div class="widget-content">
                        <a href="tel:1800-574-9687" class="contact-number"
                          >(1800) 574 9687</a
                        >
                        <ul>
                          <li>Bhubaneswar,Odisha</li>
                          <li>
                            Email :<a href="mailto:info@Laundry.com">
                              info@Laundry.com</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <!--Footer Column-->
                  <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                      <h2>Newsletter</h2>
                      <div class="text">Get Special offers & Discounts</div>
                      <!-- Newsletter Form -->
                      <div class="newsletter-form">
                        <form method="post" action="templateshub.net">
                          <div class="form-group">
                            <input
                              type="email"
                              name="email"
                              value=""
                              placeholder="Enter your email address"
                              required
                            />
                            <button
                              type="submit"
                              class="theme-btn btn-style-one"
                            >
                              <span class="txt">Subscribe</span>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Footer Bottom-->
        </div>
      </footer>
    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>

    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
      <div class="close-search theme-btn">
        <span class="flaticon-cancel"></span>
      </div>
      <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
          <form method="post" action="templateshub.net">
            <div class="form-group">
              <fieldset>
                <input
                  type="search"
                  class="form-control"
                  name="search-input"
                  value=""
                  placeholder="Search Here"
                  required
                />
                <input type="submit" value="Search Now!" class="theme-btn" />
              </fieldset>
            </div>
          </form>

          <br />
          <h3>Recent Search Keywords</h3>
          <ul class="recent-searches">
            <li><a href="#">Home Interiors</a></li>
            <li><a href="#">Offices Interiors</a></li>
            <li><a href="#">Showroom Interiors</a></li>
            <li><a href="#">Building Interiors</a></li>
            <li><a href="#">Shops Interiors</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Scroll to top-->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.fancybox.js"></script>
    <script src="/static/js/isotope.js"></script>
    <script src="/static/js/owl.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/validate.js"></script>
    <script src="/static/js/appear.js"></script>
    <script src="/static/js/scrollbar.js"></script>
    <script src="/static/js/script.js"></script>
    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
    <script src="/static/js/map-script.js"></script>
    <!--End Google Map APi-->
  </body>

  <!-- stella-orre/contact.html  30 Nov 2019 03:46:47 GMT -->
</html>
